body{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;
	background-color: #9BC6F5;

}

header{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: #11438D;

}



.container{

    width: 1280px;
    margin: auto;

}

.nav_checkbox{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;

}

.logo{

    text-decoration: none;
    color: white;
    padding-left: 10px;

}

.tab-nav{

    outline: none;
    display: none;

}

.label{

    display: none;
    color: white;

}

.burger{

    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;

}

.content_nav{

    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;

}

.content_nav li{

    display: inline-block;
    padding-right: 10px;

}

.content_nav li a{

    text-decoration: none;
    color: white;
    position: relative;

}

.content_nav li a::after{

    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;

}

.content_nav li a:hover::after{

    transform: scale(1, 1);

}

.content_section{

    height: 120vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;


}

@media screen and (max-width: 1280px){

    .container{

        width: 100%;

    }

}

@media screen and (max-width: 770px){

    .label{

        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;

    }

    .content_nav{

        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;

    }

    .nav_checkbox input:checked ~ .content_nav{

        max-height: 500px;

    }

    .content_nav li{

        padding: 15px 0px;

    }


}

.volunteer{
	font-size:12px;
	padding-left:2%;
	bottom: 79.9%;
    position: fixed;
	word-spacing: 1px; 
    color: white;
    width: 100%;
     background-color: #2062C4;

}

.box{
	
	text-decoration:none;
	word-spacing: 2px;
	max-width: 700px;
	padding: auto;
	width: 290%;
	padding-top:160px;
	box-sizing: 20%;
	margin: auto;
	text-align: justify;

}
.box h3{
	
	font-size:30px;
}
.box p{
	
	font-size:20px;
}

.box2{
	max-width: 300px;
	text-decoration: none;
	height:60vh;
	max-width:200vh;
	box-shadow: 0px 0px 20px #8A8C9D;
	border-radius: 20px;
	box-sizing: 20%;
	margin: auto;
	overflow:scroll;
	text-align: justify;
	background-color: white;
}

.box3{
	max-width: 300px;
	height:40vh;
	background-color: white;
    padding: 10px;
	max-width:100vh;
	box-shadow: 0px 0px 20px #8A8C9D;
	border-radius: 20px;
	box-sizing: 20%;
	overflow:hidden;
	margin-bottom: 40px;
	text-align: justify;
	

}
.box3 button{
	cursor:pointer;
}
.box3,.box2 h5{
	font-size: 20px;
	margin:2%;
}
.box3_btn{
	float:right;
	margin:20px;
	background-color: #5D91C8 ;
	color: #ffffff;
	height:25%;
	width:12%;
	font-size:20px;
	cursor:pointer;
}

.container1{
	max-width: 1170px;
	margin:auto;
	padding-left:30%;
	padding-bottom:1%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #083769;
    padding: 4px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 25px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}

.footer-col ul li a{
	font-size: 20px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left:4px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
	padding-left:15%;
	
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	padding-left:20%;
}
}


.table_vol{
		
		border-collapse: collapse;
		margin:25px,0;
		font-size: 0.9em;
		min-width: 700px;
		
		
	}
	.table_vol thead tr{
		
		background-color: #5D91C8 ;
		color: #ffffff;
		font-weight: bold;
		font-size: 1.3em;
		
	}
	.table_vol  th,
	.table_vol td{
		
		text-align: center;
		padding: 12px 15px;	
	}
	.table_vol tbody tr{
		
		border-bottom: 1px solid #5D91C8;
	}